@font-face {
    font-family: OurFont;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Metalia;
    src: url(../fonts/Metalia.ttf)
}
*{
    margin: 0;
    padding: 0;
    font-family: 'OurFont',Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    margin: 50px;
    font-size: 3vw;
    font-family: 'Metalia', Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    max-height: 50px;
}

.navBar a {
    text-decoration: none;
    color: gray;
    padding: 0 15px;
    font-size: 1.75vw;
    line-height: 50px;
}

.navBar a:hover {
    background-color: rgb(252, 252, 47);
}
.info{
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a b"
    "c c c";
    line-height: 20px;
    padding:7% 14%;
}
.info p{
    grid-area: a;
}
.contactImg{
    grid-area: b;
    max-width: 125px;
    opacity: 0.5;
}
h3{
    margin: 15px;
}
.contSocMedia{
    grid-area: c;
    margin-top: 15%;
    text-align: center;
}
.contSocMedia a{
    text-decoration: none;
    font-size: 2.1vw;
    color: gray;
}
.contSocMedia ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}
.contSocMedia ul li{
    max-width: 300px;
    display:flex;
    align-items:center;
}
.drustMreze{
    max-width: 45px;
    height: auto;
    margin: 15px;
}
.formAndMap{
    display: flex;
    justify-content: space-between;
}
#map{
    width: 40%;
    height: 400px;
    background-color: grey;
    padding: 0 5%;
}
.forma{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 5%;
    font-size:2vw;
}
.forma input{
    margin: 5px 0;
    max-height: 40px;
}
.forma textarea{
    margin: 5px 0;
    height: auto;
}
.forma label{
    align-self: center;
}
@media only screen and (max-width: 600px) {
    .info{
        padding: 7% 5%;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        grid-template-areas: 
            "b"
            "a"
            "c";
    }
    .formAndMap{
        flex-direction: column;
    }
    #map{
        width: 80%;
        margin: 0 auto;
    }
    .forma{
        width: 80%;
        margin: 0 auto;
    }
}