@font-face {
    font-family: defaultFont;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Metalia;
    src: url(../fonts/Metalia.ttf)
}

@keyframes fading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'defaultFont', Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 3vw;
    font-family: 'Metalia', Arial, Helvetica, sans-serif;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    max-height: 50px;
}

.navBar a {
    text-decoration: none;
    color: gray;
    padding: 0 15px;
    font-size: 25px;
    line-height: 50px;
}

.navBar a:hover {
    background-color: rgb(252, 252, 47);
}

.box {
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 15%;
    transition: all 0.5s;
}

.box:hover {
    transform: scale(1, 1.25);
    background: #fff;
    margin: 7% 15%;
    color: red;
    transition: all 1s;
}

.boxFaded {
    animation-name: fading;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.box p {
    font-size: 20px;
    padding: 0 1%;
}

#box2 {
    flex-direction: row-reverse;
}

.slick {
    width: 26%;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .box {
        margin: 2% 2%;
    }
    .box:hover {
        margin: 5% 2%;
    }
}