@font-face {
    font-family: OurFont;
    src: url(../fonts/Roboto-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'OurFont';
}
body{
    background-color: whitesmoke;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: azure;
    height: 50px;
}
.navBar a{
    text-decoration: none;
    color: gray;
    padding: 0 15px;
    font-size: 25px;
    line-height: 50px;
}
.navBar a:hover{
    background-color: rgb(252, 252, 47);
}
.info{
    display: grid;
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a b"
    "c c c";
    line-height: 25px;
    padding:100px 250px;
}
.info label{
    grid-area: a;
}
.contactImg{
    grid-area: b;
    width: 125px;
    opacity: 0.5;
}
h3{
    margin: 15px;
}
.contSocMedia{
    grid-area: c;
    margin-top: 0 200px;
    width: 100%;
    text-align: center;
}
.contSocMedia a{
    text-decoration: none;
    font-size: 30px;
    color: gray;
}
.contSocMedia ul{
    list-style-type: none;
    display: flex;
    align-content: space-between;
    width: 100%;
    padding: 0 100px;
}
.contSocMedia ul li{
    width: 300px;
    display:flex;
    align-items:center;
}
.drustMreze{
    width: 45px;
    height: 45px;
    margin: 15px;
}
.forma{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 30%;
    font-size: 30px;
}
.forma input{
    margin: 5px;
    height: 40px;
}
.forma textarea{
    margin: 5px;
    height: 120px;
}
.forma label{
    align-self: center;
}